
   
   .login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://t3.ftcdn.net/jpg/03/23/83/00/360_F_323830067_Qd0gNLxdF4bu7PfsPpkJtVr0dBtnGKpX.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .login_title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login_icon {
    font-size: 4rem;
    color: #00bc98;
  }
  
  h1 {
    font-size: 2rem;
    color: white;
  }
  
  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
  }
  
  .login_form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login_form button {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #00bc98;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
.login_icon:hover {
    background-color: #000000;
  }

  
  .login_form button:hover {
    background-color: #000000;
  }
  
  @media (max-width: 600px) {
    .login_title h1 {
      font-size: 1.5rem;
    }
  
    .login_icon {
      font-size: 3rem;
    }
  
    .login_form input {
      padding: 8px;
    }
  
    .login_form button {
      padding: 8px;
    }
  }
  


  @keyframes lightMove {
   0% {
       background-position: -100%;
   }
   100% {
       background-position: 100%;
   }
}

@keyframes colorChange {
   0%, 100% {
       color: #ff0000;
       font-family: 'Arial', sans-serif;
   }
   25% {
       color: #00ff00;
       font-family: 'Courier New', monospace;
   }
   50% {
       color: #0000ff;
       font-family: 'Georgia', serif;
   }
   75% {
       color: #ff00ff;
       font-family: 'Times New Roman', Times, serif;
   }
}

.animated-heading {
   position: relative;
   font-size: 2em;
   text-align: center;
   padding: 20px;
   overflow: hidden;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 50%);
   background-size: 200%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: lightMove 2s linear infinite, colorChange 4s linear infinite;
}
